_Excercises IBM - Exercise 1 (optional!)_

Implement KNN by hand for just 2 dimensions with normalization.

In [699]:
import pandas as pd
import numpy as np
import math

In [700]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

_Load Dataset_

In [701]:
df = pd.read_csv('movies.csv')
display(df)

                 Movie Title  Number of Kicks  Number of Kisses Type of Movie
0             California Man                3               104       Romance
1  He's not reall into dudes                2               100       Romance
2            Beautiful Womam                1                81       Romance
3            Kevin Longblade              101                10        Action
4           Robo Slayer 3000               99                 5        Action
5                      Amped               98                 2        Action

_Normalize Data_

In [702]:
def normalize_values(original, minValue, maxValue):
    return (original - minValue) / (maxValue - minValue)

In [703]:
df_norm = df.copy()

In [704]:
minimumKicks = df_norm['Number of Kicks'].min()
maximumKicks = df_norm['Number of Kicks'].max()
df_norm['Number of Kicks'] = normalize_values(df_norm['Number of Kicks'],minimumKicks,maximumKicks)

minimumKisses = df_norm['Number of Kisses'].min()
maximumKisses = df_norm['Number of Kisses'].max()
df_norm['Number of Kisses'] = normalize_values(df_norm['Number of Kisses'],minimumKisses,maximumKisses)

In [705]:
df_norm

                 Movie Title  Number of Kicks  Number of Kisses Type of Movie
0             California Man             0.02          1.000000       Romance
1  He's not reall into dudes             0.01          0.960784       Romance
2            Beautiful Womam             0.00          0.774510       Romance
3            Kevin Longblade             1.00          0.078431        Action
4           Robo Slayer 3000             0.98          0.029412        Action
5                      Amped             0.97          0.000000        Action

_Euclid distance func_

In [706]:
relevant_for_distance = df_norm[['Number of Kicks', 'Number of Kisses']]

In [707]:
relevant_for_distance

   Number of Kicks  Number of Kisses
0             0.02          1.000000
1             0.01          0.960784
2             0.00          0.774510
3             1.00          0.078431
4             0.98          0.029412
5             0.97          0.000000

In [708]:
kicks_norm = normalize_values(2,minimumKicks,maximumKicks)
kisses_norm = normalize_values(90,minimumKisses,maximumKisses)
movie_to_classify = [kicks_norm, kisses_norm]

In [709]:
def euclidean_distance(row):
    distance = 0
    for i in range(2):
        distance += (row[i] - movie_to_classify[i]) ** 2 
    return math.sqrt(distance)

In [710]:
# Calculate and add distances to dataframe
distances = []
for index, row in relevant_for_distance.iterrows():
    distances.append(euclidean_distance(row))
df_norm['Distances'] = distances
df_norm = df_norm.sort_values(by=['Distances'])

_Get k Neighbors_

In [711]:
def getKNN(data, k):
    neighbors = []
    for x in range(k):
        neighbors.append(data.iloc[x])
    return neighbors

In [712]:
neighbors = getKNN(df_norm, 3)

In [713]:
def suggestClassification(neighbors):
    suggestions = {}
    for x in range(len(neighbors)):
        print(neighbors[x][3])
        movieType = neighbors[x][3]
        if movieType in suggestions:
            suggestions[movieType] += 1
        else:
            suggestions[movieType] = 1
    # sort depending on occurency
    return sorted(suggestions.items(), key=operator.itemgetter(1), reverse=True)[0][0]
    print(suggestions)

In [714]:
suggestClassification(neighbors)

Romance
Romance
Romance

'Romance'